.place__title {
  margin: 0;
  font-family: 'Inter';
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

@media screen and (max-width: 984px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
    padding: 0 10px 0 0;
  }
}

@media screen and (max-width: 568px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    padding: 0 16px;
  }
}