@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-links/header__lang-links.css);
@import url(./__logo/header__logo.css);
@import url(./__langs/header__langs.css);

.header {
  box-sizing: border-box;
  padding: 0 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 984px) {
  .header {
    padding: 0 24px;
  }
}

@media screen and (max-width: 568px) {
  .header {
    padding: 0 16px;
  }
}

