.footer__link {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  margin: 0 18px 0 0;
}

@media screen and (max-width: 690px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}