.intro {
  display: flex;
  flex-direction: column;
  max-width: 690px;
  box-sizing: content-box;
  align-items: flex-start;
  margin: 0;
}

@media screen and (max-width: 984px) {
  .intro {
    max-width: 100%;
    box-sizing: border-box;
  }
}