.lead__caption {
  margin: 0;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  align-self: flex-start;
}

@media screen and (max-width: 984px) {
  .lead__caption {
    padding: 0 24px;
  }
}

@media screen and (max-width: 568px) {
  .lead__caption {
    padding: 0 16px;
  }
}
